.us-button {
  isplay: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
  box-sizing: border-box;
  border-radius: 4px;
  &--type {
    &-default {
      @include button-normal(#1f2d3d, #fff, 1px, #bfcbd9);
    }
    &-primary {
      @include button-normal(#fff, #3faaf5, 1px, #3faaf5);
    }
    &-danger {
      @include button-normal(#fff, #ff4949, 1px, #ff4949);
    }
  }
  &--size {
    &-small {
      @include button-size(8px, 16px, 14px, 1)
    }
    &-normal {
      @include button-size(12px, 20px, 14px, 1)
    }
    &-large {
      @include button-size(14px, 22px, 16px, 1.2)
    }
  }
  &.is-plain {
    background: rgba(63, 170, 245, .05);
    color: #3faaf5;
  }
  &.is-block {
    width: 100%;
  }
}
