.us-modal__mask {
  @include make-modal-mask();
  .us-modal__wrapper {
    @include make-modal-wrapper();
    .us-modal__container {
      @include make-modal-container();
      @include media-modal-autoresize(375px);
      .us-modal__header {
        @include make-modal-header();
        .us-modal__close {
          text-align: center;
          width: 1em;
          height: 1em;
          position: absolute;
          right: 16px;
          top: 14px;
          cursor: pointer;
        }
      }
      .us-modal__body {
        padding: 16px;
      }
      .us-modal__footer {
        border-top: 1px solid #e9eaec;
        padding: 12px 18px;
        text-align: right;
      }
    }
  }
}