.us-modal__mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
  .us-modal__wrapper {
    display: table-cell;
    .us-modal__container {
      max-width: 600px;
      margin: 0px auto;
      margin-top: 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0,0,0,.3);
      transition: all .3s ease;
      border-radius: 6px;
      .us-modal__header {
        border-bottom: 1px solid #e9eaec;
        padding: 14px 16px;
        min-height: 18px;
        line-height: 1;
        position: relative;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        color: #1c2438;
        .us-modal__close {
          text-align: center;
          width: 1em;
          height: 1em;
          position: absolute;
          right: 16px;
          top: 14px;
          cursor: pointer;
        }
      }
      .us-modal__body {
        padding: 16px;
      }
      .us-modal__footer {
        border-top: 1px solid #e9eaec;
        padding: 12px 18px;
        text-align: right;
      }
    }
  }
}