.us-notification {
  @include make-border(all, 1, solid);
  @include make-notification-frame();
  @media (max-width: 300px) {
    width: auto;
    margin: auto 5px;
  }
  &.right {
    right: 16px;
  }
  &.left {
    left: 16px;
  }
  p {
    margin: 0;
  }
  .us-icon {
    @include make-notification-icon();
  }
  @include make-notification-components();
}