// maybe useful in button and notification

$color-primary: #3FAAF5;
$color-danger: #ef4f4f;

$color-success: #13ce66;
$color-warning: #f7ba2a;
$color-danger: #ff4949;
$color-info: #50bfff;

$color-white: #fff;
$color-black: #000;

$color-purple-dark: #99a9bf;
$color-purple: #d3dce6;
$color-purple-light: #e5e9f2;