// Notification组件
.us-notification-fade-enter {
  &.right {
    right: 0;
    transform: translateX(100%);
  }
  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}
.us-notification-fade-leave-active {
  &.right {
    right: 0;
    transform: translateX(100%);
  }
  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

// Modal组件
.us-modal-enter {
  opacity: 0;
}

.us-modal-leave-active {
  opacity: 0;
}

.us-modal-enter .us-modal__container,
.us-modal-leave-active .us-modal__container {
  transform: translate3d(0, -20px, 0);
  opacity: 0;
}

// Message组件
// .us-messagebox-enter {
//   opacity: 0;
// }

// .us-messagebox-leave-active {
//   opacity: 0;
// }
.us-messagebox-enter {
  opacity: 0;
  transform: translateY(100%);
}
.us-messagebox-leave-active {
  opacity: 0;
  transform: translateY(100%);
}
// Dropdown组件
.us-dropdown-enter {
  opacity: 0;
}

.us-dropdown-leave-active {
  opacity: 0;
}
